@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}
:root {
  --fs-xsm: 20px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 25px;
  --fs-xl: 27px;
  --fs-2xl: 28px;
  --fs-3xl: 20px;
  --fs-4xl: 30px;
  --fs-5xl: 31px;
  --fs-6xl: 60px;
  --fs-7xl: 40px;
  --fs-8xl: 100px;
  --fs-9xl: 118px;
  /* FONT WEIGHT */
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;
  /* COLOR */
  --clr-blue: #1c2183;
  --clr-black: #373737;
  --clr-light-black: #565656;
  --clr-yellow: #f49e39;
  --clr-green: #55cba9;
  --clr-purple: #767ab4;
  --clr-white: #ffffff;
  --clr-bluestone: #1a375b;
}
.fs_xsm {
  font-size: var(--fs-xsm) !important;
}
.fs_sm {
  font-size: var(--fs-sm) !important;
}
.fs_md {
  font-size: var(--fs-md) !important;
}
.fs_lg {
  font-size: var(--fs-lg) !important;
}
.fs_xl {
  font-size: var(--fs-xl) !important;
}
.fs_2xl {
  font-size: var(--fs-2xl) !important;
}
.fs_3xl {
  font-size: var(--fs-3xl) !important;
}
.fs_4xl {
  font-size: var(--fs-4xl) !important;
}
.fs_5xl {
  font-size: var(--fs-5xl) !important;
}
.fs_6xl {
  font-size: var(--fs-6xl) !important;
}
.fs_7xl {
  font-size: var(--fs-7xl) !important;
}
.fs_8xl {
  font-size: var(--fs-8xl) !important;
}
.fs_9xl {
  font-size: var(--fs-9xl) !important;
}
/* FONT WEIGHT */
.fw_800 {
  font-weight: var(--fs-800) !important;
}
.fw_700 {
  font-weight: var(--fw-700) !important;
}
.fw_600 {
  font-weight: var(--fw-600) !important;
}
.fw_500 {
  font-weight: var(--fw-500) !important;
}
.fw_400 {
  font-weight: var(--fw-400) !important;
}
.fw_300 {
  font-weight: var(--fw-300) !important;
}
.fw_200 {
  font-weight: var(--fw-200) !important;
}
/* FONT FAMILY */
.ff_inter {
  font-family: "Inter", sans-serif !important;
}
.ff_raleway {
  font-family: "Raleway", sans-serif !important;
}
/* color */
.clr_blue {
  color: var(--clr-blue) !important;
}
.clr_black {
  color: var(--clr-black) !important;
}
.clr_light_black {
  color: var(--clr-light-black) !important;
}
.clr_yellow {
  color: var(--clr-yellow) !important;
}
.clr_green {
  color: var(--clr-green) !important;
}
.clr_purple {
  color: var(--clr-purple) !important;
}
.clr_white {
  color: var(--clr-white) !important;
}
.clr_bluestone {
  color: var(--clr-bluestone) !important;
}
.sahdow_box_pos {
  left: -38px !important;
  top: -92px !important;
  z-index: -1;
}
.arow_pos {
  left: -46px !important;
  bottom: 107px !important;
}
.downarrow_pos {
  left: -46px !important;
  bottom: -9px !important;
}
.bottom_bg_line {
  background: #c4c5e1;
  opacity: 0.09;
  height: 107px;
  width: 100%;
}
.w_100 {
  width: 100%;
}
.bottom_29_percnt {
  bottom: 29%;
}
.top_19_percnt {
  top: 19%;
}
.top_bg_line {
  z-index: -2;
  height: 107px;
  width: 100%;
  background: #fafafd;
}
.navicon_container {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: black;
}

.bg_img {
  background-image: url(../src/assets//images//img//header//header_bg.png);
  background-size: 100% 100%;
}
.sec_2_bg_img {
  background-image: url(../src/assets/images/img/section2/bg_img_2.png);
  background-size: 100% 100%;
}

.boxes {
  background-color: var(--clr-white);
  box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.059);
  transition: all 0.3s linear;
  cursor: pointer;
}

.boxes:hover {
  transform: scale(1.02);
}

.blur_box {
  height: 154px;
  width: 100%;
  background: #eeeeff;
  opacity: 0.71;
  position: absolute;
  bottom: 0%;
  z-index: -1;
}

.dots_2_position {
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.aerow_position_1 {
  top: 25px;
  right: 0;
}

.aerow_position_2 {
  bottom: 30px;
  right: 0;
}

.aerow_position_3 {
  top: 25px;
  right: 0;
}

.cross_position {
  border: 2px solid black;
  border-radius: 100%;
  top: 5%;
  right: 5%;
}
.hover_underline {
  opacity: 0.8;
}
.hover_underline:hover {
  opacity: 2;
}
.hover_underline::after {
  content: "";
  display: block;
  width: 0;
  transition: all 0.1s linear;
  margin: auto;
  height: 4px;
  background-color: var(--clr-blue);
}
.cur_poi {
  cursor: pointer;
}
.hover_underline:hover::after {
  width: 100%;
}
/* inspiring section  */

.xarrow_pos {
  bottom: -12px;
  left: 17px;
}
.back_purple_opacity_low {
  background: #e2e3f1;
  transition: all 0.2s linear;
}

.back_white_opacity_low {
  background: #f49e39;
}
.br_15 {
  border-radius: 15px;
}
.bg_blur_white {
  max-height: 184px;
  max-width: 184px;
  border-radius: 100px;
  background: #e8e9ff82;
  backdrop-filter: blur(25px) !important;
  border: 3px dashed #c5c8ff;
}

@keyframes whiteborder {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.yellow_border_circle {
  border-radius: 100px;
  height: 148px;
  width: 148px;
  background-color: white;
  animation-name: whiteborder;
  animation-duration: 30s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  border: 3px dashed rgba(244, 158, 57, 0.37);
}
.max_184 {
  max-height: 184px;
  max-width: 184px;
}
.small_line {
  min-width: 42px;
  max-width: 42px;
  min-height: 4px;
  max-height: 4px;

  background: #000000;
  opacity: 0.24;
}
.bg_blue {
  background: #242993;
}
.small_blue_box {
  background: #242993;
  width: 115px;
  height: 25px;
  transform: rotate(-52deg);
  border-top: 4px solid white;
}
.months_line {
  bottom: 32px;
}
.bottom_42 {
  bottom: 42px;
}
.months_pos {
  bottom: 33px;
  right: 9px;
}
.months_remaing_pos {
  bottom: -10px;
  right: 9px;
}
.border_grey {
  border: 3px solid rgba(36, 41, 147, 0.11);
}
.p_20 {
  padding: 20px;
}
.bg_duration {
  background-image: url(../src/assets/images/img/duration_section/bgrightline.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top260 {
  top: 260px;
}
.back_purple_opacity_low:hover {
  background: #f49e39;
  /* background: #e2e3f1; */
  color: var(--clr-white) !important;
}
.back_purple_opacity_low:hover > p {
  /* background: #e2e3f1; */
  color: var(--clr-white) !important;
}
@media (min-width: 576px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-lg: 25px;
    --fs-xl: 27px;
    --fs-2xl: 28px;
    --fs-3xl: 30px;
    --fs-4xl: 45px;
    --fs-5xl: 50px;
    --fs-6xl: 60px;
    --fs-7xl: 88px;
    --fs-8xl: 100px;
    --fs-9xl: 118px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 23px;
    --fs-lg: 25px;
    --fs-xl: 27px;
    --fs-2xl: 28px;
    --fs-3xl: 30px;
    --fs-4xl: 45px;
    --fs-5xl: 50px;
    --fs-6xl: 60px;
    --fs-7xl: 88px;
    --fs-8xl: 100px;
    --fs-9xl: 118px;
  }
}
@media (min-width: 768px) {
  .w_100 {
    width: unset;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .max_698 {
    max-width: 698px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .mobile_ul_modifications {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
    transition: all 0.3s linear;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(35px);
  }
  .crosbtn {
    right: 111px !important;
    top: 17px !important;
  }
  .hide {
    left: -100%;
  }
  .show {
    left: 0;
  }
  .bg_img {
    background-size: cover;
    background-position: 70%;
  }

  .sec_2_bg_img {
    background-image: unset;
    background-color: var(--clr-white) !important;
    background-size: cover;
    background-position: 127%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 576px) {
  .small_blue_box {
    background: #242993;
    width: 145px;
    height: 35px;
    transform: rotate(-52deg);
    border-top: 4px solid white;
  }
}
@media (min-width: 1600px) {
  .mt_2 {
    margin-top: -2px;
  }
}
